<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
<form action="join" method="post">
  <table>
    <tr>
      <th>Email</th>
      <td><input type="email" id="email" name="email"></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><input type="password" id="password" name="password"></td>
    </tr>
    <tr>
      <th>Password Repeat</th>
      <td><input type="password" id="password2" name="password2"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit" value="회원가입"/></td>
    </tr>
  </table>
</form>
</body>
</html>